table{
    width: 100%;
}

body{
    overflow: hidden;
}

.ui-frame .inline-div{
    display: inline-block;
    vertical-align: middle;
}

.ui-top-bar{
    border-bottom: 1px solid;
    background: #00A1CF;
    text-align: center;
    height: 10%;
}

.ui-frame{
    height: 100%;
    background: gray;
}

@keyframes pass {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}

.turn-indicator.pulse{
    animation: pass 1s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

